@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Classic Models Shop </h1>
    <p>Here you can find all the classic models from world famous brands!</p>
</div>
<div id="Carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#Carousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#Carousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#Carousel" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://diecastmodelcentre.co.uk/cdn/shop/articles/1-64_scale_cars.png?v=1720507390&width=600" class="d-block w-100">
            <div class="carousel-caption">
                <h3>Confidence</h3>
                <p>On the market for over 50 years!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://164model.com/cdn/shop/articles/20210206214706.jpg?v=1613089981&width=920" class="d-block w-100">
            <div class="carousel-caption">
                <h3>Support</h3>
                <p>Our support is active 24 hours a day! </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mycarheaven.com/wp-content/uploads/2023/05/about-fastfurious-3_optmzd_80-688x500.webp" class="d-block w-100">
            <div class="carousel-caption">
                <h3>High Quality</h3>
                <p>Our models are of the best quality you can find!</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h3>Buy Scale Model Kits Online at Classic Models Shop</h3>
            <p>
                Discover an extensive range of high-quality scale models at Scale Model Shop. 
                From detailed vintage cars from early 1900s to modern sportcars and planes, 
                we offer products that faithfully replicate real-life subjects across multiple eras and scales.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>Top Brands and Accessories</h3>
            <p>
                We stock leading brands such as Exoto Designs, Motor City Art Classics, 
                Unimax Art Galleries, and many more, ensuring both quality and variety for modellers of all skill levels.
                Whether you wish of a new aircraft model or a replica of your grandfathers's old car, you'll find everything you need in our store!
            </p>
        </div>
    </div>
</div>
